# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

*.ps1

node_modules
.DS_Store
dist-ssr
coverage
*.local
public/img/products/build_inventory.py
bin/*

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vs/*
.vscode/*
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


node_modules
*.log*
.nuxt
.nitro
.cache
.env
dist